<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="RobinMcK\PluginsAndObservers\Block\StaffPick">
        <plugin name="set-description-a" type="RobinMcK\PluginsAndObservers\Plugin\SetDescriptionA" />
    </type>
    <type name="RobinMcK\PluginsAndObservers\Block\StaffPick">
        <plugin name="set-description-b" type="RobinMcK\PluginsAndObservers\Plugin\SetDescriptionB" />
    </type>
    <type name="RobinMcK\PluginsAndObservers\Block\StaffPick">
        <plugin name="set-description-c" type="RobinMcK\PluginsAndObservers\Plugin\SetDescriptionC" />
    </type>
    <type name="RobinMcK\PluginsAndObservers\Block\StaffPick">
        <arguments>
            <argument name="staffName" xsi:type="string">Robin</argument>
        </arguments>
    </type>
</config>
